{% extends "layout.html" %}
{% block body %}
  <form method=POST class="form-horizontal" action="{{ url_for('pmv.new') }}">
    <h2>Current Hazards</h2>
    <div id="main" class="container">
        <h2>All Items</h2>
        <table class="table table-hover">
          <tr>
            <th>#
            <th>Title
            <th>Text
          {%- for hazard in current_hazards %}
          <tr class={{ "success" if hazard.vcs_check }}>
            <td><a href="/hazards/{{ hazard.id }}">{{ hazard.id }}</a>
            <td>{{ hazard.title }}
            <td>{{ hazard.text }}</td>
          {%- endfor %}
        </table>
        <p>
    </div>
    <h2>Hazards to Add</h2>
    <div id="main" class="container">
        <h2>All Items</h2>
        <table class="table table-hover">
          <tr>
            <th>#
            <th>Title
            <th>Text
          {%- for hazard in possible_hazards %}
          <tr class={{ "success" if hazard.vcs_check }}>
            <td><a href="/hazards/{{ hazard.id }}">{{ hazard.id }}</a>
            <td>{{ hazard.title }}
            <td>{{ hazard.text }}</td>
          {%- endfor %}
        </table>
        <p>
    </div>
  </form>
{% endblock %}