{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>All Items</h2>
    <table class="table table-hover">
      <tr>
        <th>#
        <th>CA
        {%- for pmvv in hca_list[0].pmvvs %}
            <th>{{ pmvv.pmv.title }}
        {%- endfor %}
        <th>Hazardous
        <th>Too Late
        <th>Too Early
        <th>Not Provided
      {%- for hca, hazard in for_loop_tuple %}
{#      {%- for hca in hca_list%}#}
      <tr class={{ "success" if hca.vcs_check }}>
        <td>{{ hca.id }}
        <td>{{ hca.ca.title }}
        {%- for pmvv in hca.pmvvs %}
            <td>{{ pmvv.text }}
        {%- endfor %}
      <td>{{ hazard.add_cah }}
      <td>{{ hazard.add_cahte }}
      <td>{{ hazard.add_cahtl }}
      <td>{{ hazard.add_cahnp }}
      {%- endfor %}
    </table>
    <p>

{#      <a href="{{ url_for('hca.new') }}" class="btn btn-large btn-primary">New HCA</a>#}
 
 
</div>
{% endblock %}