{% extends "layout.html" %}
{% block body %}

<div id="main" class="container">
    <h2>All Items</h2>
    <form method=POST class="form-horizontal" action="{{ url_for('hca.index') }}">
    <table class="table table-hover">
      <tr>
        <th>#
        <th>CA
        {%- for pmvv in hca_list[0].pmvvs %}
            <th>{{ pmvv.pmv.title }}
        {%- endfor %}
        <th>Hazardous
        <th>Too Late
        <th>Too Early
        <th>Not Provided
        <th>Hide HCA
      {%- for hca, hazard_form in for_loop_tuple %}
        {% if (not hca.hidden and not show_hide) or (hca.hidden and show_hide) %}
          <tr class={{ "success" if hca.vcs_check }}>
            <td>{{ hca.id }}
            <td>{{ hca.ca.title }}
            {%- for pmvv in hca.pmvvs %}
                <td>{{ pmvv.text }}
            {%- endfor %}
          <td>
              {%- for hazard in hca.cah %}
                  [{{ hazard.id }}]
              {%- endfor %}
              {{ hazard_form.add_cah }}
          <td>{%- for hazard in hca.cah_tl %}
                  [{{ hazard.id }}]
              {%- endfor %}
              {{ hazard_form.add_cahtl }}
          <td>{%- for hazard in hca.cah_te %}
                  [{{ hazard.id }}]
              {%- endfor %}
              {{ hazard_form.add_cahte }}
          <td>{%- for hazard in hca.cah_np %}
                  [{{ hazard.id }}]
              {%- endfor %}
              {{ hazard_form.add_cahnp }}
          <td>{{ hazard_form.remove_hca }}
          {{ hazard_form.hca_id }}
        {% endif %}
      {%- endfor %}
    </table>
    <p>
    {{ form.clear_table }}
    {{ form.show_hide }}
    </form>

{#      <a href="{{ url_for('hca.new') }}" class="btn btn-large btn-primary">New HCA</a>#}


</div>
{% endblock %}