{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>All Items</h2>
    <table class="table table-hover">
      <tr>
        <th>#
        <th>Title
        <th>Text
        <th>Date
      {%- for todo in todos %}
      <tr class={{ "success" if todo.vcs_check }}>
        <td><a href="/goals/{{ todo.id }}">{{ todo.id }}</a>
        <td>{{ todo.title }}
        <td>{{ todo.text }}</td>
        <td>{{ todo.pub_date.strftime('%Y-%m-%d %H:%M') }}
      {%- endfor %}
    </table>
    <p>
      <a href="{{ url_for('new') }}" class="btn btn-large btn-primary">New Goal</a>
 
 
</div>
{% endblock %}