{% extends "layout.html" %}
{% block body %}
  <form method=POST class="form-horizontal" action="{{ url_for('hazards.new') }}">
    <h2>Create New Hazard</h2>
    <div class="control-group">
        <div class="controls">
            {{ form.title(class="input-xlarge") }}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            {{ form.text(class="input-xlarge", rows=10) }}
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
            {{ form.submit_hazard(class="btn btn-success") }}
          <a href="{{ url_for('hazards.index') }}">Back to list</a>
        </div>
    </div>
  </form>
{% endblock %}