{% extends "layout.html" %}
{% block body %}
  <form method=POST class="form-horizontal" action="{{ url_for('ca.new') }}">
    <h2>Show and Update PMV</h2>
    <div class="control-group">
        <div class="controls">
            {{ form.title(class="input-xlarge") }}
{#          <input type="text" id="title" name="title" class="input-xlarge"#}
{#            placeholder="Please give title to the ca" value="{{ request.form.title }}"#}
{#            required>#}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            {{ form.text(class="input-xlarge", rows=10) }}
{#          <textarea name="text" rows=10 class="input-xlarge" placeholder="describe the ca" required>{{ request.form.text }}</textarea>#}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            {{ form.submit_ca(class="btn btn-success") }}
{#          <button type="submit" class="btn btn-success">Create PMV</button>#}
          <a href="{{ url_for('ca.index') }}">Back to list</a>
        </div>
    </div>
  </form>
{% endblock %}